<!DOCTYPE html>
<html>

  <head>
  <style>
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0
    }

    .grid {
      display: grid;
      grid-template-columns: auto auto;
      max-width: 1000px;
      text-align: center;
    }

    .crypto-div {
      display: inline-block;
      width: 50%;
      text-align: center;
    }

    .fiat-div {
      display: inline-block;
      width: 50%;
      text-align: center;
    }

    h1 {
      margin-bottom: 50px;
      font-size: 25px;
    }

  </style>

    <title>My first web page</title>
  </head>

  <body>
    <div class='grid'>
      <div class='crypto-div'>
        <h1>Crypto Currencies</h1>
        <ul>
        {% for currency in crypto_data %}
          <li>
            <b>{{ currency.code }}</b>
            <br>
            {{ currency.name }}
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class='fiat-div'>
      <h1>Fiat Currencies</h1>
        <ul>
          {% for currency in fiat_data %}
            <li>
              <b>{{ currency.id }}</b>
              <br>
              {{ currency.name }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
