<!DOCTYPE html>
<html>

  <head>
      <style>
      p {
          font-size: 20px;
      }
      </style>
    <title>Error!</title>
  </head>
  <body>
    <h1>Error occured!</h1>
    <p>{{ message }}</p>
  </body>
</html>
