{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1>LOGIN</h1>
{% endblock %}

{% block content %}
    <form id="login" action="/process_login.php" method="POST">
        <div class="verdana">
            {{ include('login_email.twig') }}
        </div>

        <div class="verdana">
            {{ include('login_password.twig' )}}
        </div>
        <button type="submit">LOG IN</button>
    </form>

    <div class="verdana">
        <span>New user? <a href="/registration.php">Register</a></span>
    </div>
{% endblock %}

