<label class="verdana" for="password">Password:</label><br>
<input type="text" id="password" name="password"><br>
{% if not is_password_correct %}
    <span>Incorrect password!</span>      
{% endif %}