<label class="verdana" for="email">Email:</label><br>
<input type="text" id="email" name="email"><br>
{% if not is_email_valid %} 
    <span>Please enter a valid email address!</span>
{% elseif is_email_registered %}
    <span>This email is already registered!</span>
{% endif %}