{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}Registration{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <h1>REGISTRATION</h1>
{% endblock %}

{% block content %}
    <form id="login" action="/process_registration.php" method="POST">
        <div class="verdana">
            {{ include('registration_email.twig') }}
        </div>

        <div class="verdana">
            {{ include('registration_password.twig' )}}
        </div>
        <button type="submit">REGISTER</button>
    </form>
{% endblock %}

