{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div>
        <span class="verdana">Registration successful! Redirecting to index...</span>
    </div>
{% endblock %}
    